AddType text/cache-manifest .appcache
ExpiresByType text/cache-manifest "access plus 0 seconds"

RewriteEngine On
RewriteCond %{HTTPS} on
RewriteRule ^(.*)$ http://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]